#frame1 {
    width: 100%;
    min-height: 800px;
    overflow: auto;
    padding: 2px;
    border-radius: 10px;
    max-height: 800px;
    background-color: #fff;
    color: #666;
}

.framebutton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.framebutton button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.framebutton button:hover {
    background-color: #0056b3;
}
