body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #009688;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-bottom: 4px solid #00796b;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 0;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: rgba(207, 255, 76, 0.123);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

.container address{
    background-color: #009688;
    border-radius: 20px;
    padding: 10px;
    text-align: center;

}
address strong{
    color: rgb(255, 255, 255);
}
h2, h3 {
    color: #009688;
}

h3 {
    margin-top: 20px;
}

p, ul {
    line-height: 1.6;
}

ul {
    padding-left: 20px;
}

.status, .application, .features, .download, .contact, .languages-section, .tools-section {
    margin-bottom: 30px;
}

.status p, .application p {
    margin: 0;
}

.gitcmd code {
    background-color: #e0f2f1;
    padding: 5px;
    border-radius: 4px;
}

.gitcmd a {
    color: #009688;
    text-decoration: none;
}

.download a {
    color: #009688;
    text-decoration: none;
    font-weight: bold;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact li {
    margin-bottom: 10px;
}

.contact a {
    color: #009688;
    text-decoration: none;
}

.languages-section table, .tools-section table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.languages-section th, .tools-section th, .languages-section td, .tools-section td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.languages-section th, .tools-section th {
    background-color: #009688;
    color: white;
}

.tools-section td a {
    color: #009688;
    text-decoration: none;
}

.tools-section td a.nolink {
    color: #999;
}
footer {
    background-color: #009688;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}